@inherits LayoutComponentBase
<div class="page" style="display: flex; flex-direction: column">
    <NavMenu />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
