@page "/login"
@using TodoApp.Client.Components
@using TodoApp.Client.Models
@using TodoApp.Client.Services
@inject IJSRuntime JS
@inject IAuthService AuthService

<RedirectToHome />

<h1 style="width: 100%; text-align: center; margin-bottom: 32px">Login</h1>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 8px">
    <input style="width: 350px" @bind="model.Username" placeholder="Username" />
    <input style="width: 350px" @bind="model.Password" placeholder="Password" type="password" />
    <button style="width: 350px" @onclick="HandleLogin">Login</button>
    
    @if (!string.IsNullOrEmpty(errorMessage))
       {
           <p style="color: red; margin-top: 8px">@errorMessage</p>
       }
    
    <p style="margin-top: 8px">You don't have an account? <a href="register" style="margin-top: 16px">Create account</a></p>
</div>

@code {
    private LoginDto model = new();
    private string? errorMessage;

    private async Task HandleLogin()
    {
        if (string.IsNullOrWhiteSpace(model.Username) || string.IsNullOrWhiteSpace(model.Password))
        {
            errorMessage = "Username and password are required.";
            return;
        }
        errorMessage = null;
        
        var success = await AuthService.LoginAsync(model);
        if (!success)
        {
            await JS.InvokeVoidAsync("alert", "Login error. Please enter correct credentials.");
        }
    }
}